body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #000; */
  /* background-color: #141313; */
  background-color: #002233;
  color: #f2f2f2;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 1rem;
  z-index: 1000;  
  display: flex;
  align-items: center;
  gap: 730px;
  background-color: #111;
  padding: 20px 40px;
} */

.navbar {
  display: flex;
  justify-content: space-around; /* separa logo e menu */
  align-items: center;
  background-color: #F2B624;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #002233;
  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #002233;
  display: block;
}

.menu {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 19px;
}

.menu li a {
  color: #002233;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #F2B624;
}

header {
  text-align: center;
  padding: 100px 20px 50px 20px;
}

header h1 {
  font-size: 3rem;
  color: #F2B624;
  margin-bottom: 20px;
}

.slogan {
  font-size: 1.2rem;
  color: #aaa;
}

.descricao {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.descricao p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.descricao h2 {
  font-size: 2.25rem;
  color: #F2B624;
  line-height: 1.6;
  margin-bottom: 30px;
}

button {
  padding: 12px 24px;
  background-color: #F2B624;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #cc7000;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #777;
  margin-top: auto;
}

html {
  scroll-behavior: smooth;
}

.carrossel {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}

.carrossel img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

 .slide-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}


.image-wrapper {
  position: relative;
  display: inline-block;
}

.slide-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
  text-align: center;
}

/* Só mostra overlay quando o mouse estiver sobre a imagem */
.image-wrapper:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

/* textos aparecerem ao scrollar a tela */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.divisoria-inclinada-baixo {
  height: 100px;
  background-color: #F2B624;
  clip-path: polygon(0 0, 100% 100%, 0% 100%);
}

/* .divisoria-inclinada-cima {
  height: 140px; /* ou 110px 
  background-color: #F2B624;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
} */

.divisoria-inclinada-cima {
  height: 120px;
  background-color: #F2B624;
  clip-path: path("M 100% 1px Q 80% 20px 0% 0 L 0 100% L 100% 100% Z");
}

@supports (clip-path: path("M0,0 L100,0 L100,100 L0,100 Z")) {
  .divisoria-inclinada-cima {
    clip-path: path("M 100% 1px Q 80% 20px 0% 0 L 0 100% L 100% 100% Z");
  }
}

.servicos {
  background-color: #F2B624;
  color: #002233;
}

.produtos {
  background-color: #002233;
  padding: 40px 20px;
  margin: 0;
}

.contato {
  background-color: #F2B624;
  padding: 40px 20px;
  margin: 0;
}

.hblue {
  color: #002233;
}